*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: #f3f3f3;
  border-radius: 25px;
}

.app-container .nav-container {
  height: 100%;
  width: 22vw;
  background-color: #f7a5b0;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.app-container .nav-container .logo-con div {
  color: #6bb3dd !important;
}

.padding {
  margin-right: 7px;
  color: #ffff67;
}

.card-con {
  width: 93%;
  height: 300px;
  background-color: white;
  margin: 0px;
  border-radius: 20px;
}

.text-con {
  padding-left: 20px;
}

.forcast-con {
  width: 78vw;
}

.weather-forcast {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .daily-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .daily-slider .mini-card {
  height: 110px;
  width: 80px;
  border-radius: 15px;
  background-color: #e9e8e9;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid gray;
  color: gray;
}

.citys {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  border-radius: 10px;
  height: 50px;
  border: 2px solid gray;
}

.icon .icon-pic {
  height: 35px;
  border-radius: 50%;
  width: 35px;
  background-color: gray;
}

.icon .icon-pic img {
  height: 35px;
  border-radius: 50%;
}

.icon .name {
  color: gray;
}

.icon .dropdown {
  cursor: pointer;
}

.active {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
/*# sourceMappingURL=style.css.map */