*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bigContainer {
  height: 100vh;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: #f3f3f3;
  border-radius: 25px;
}

.app-container svg.menu {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 2rem;
  top: 1.4rem;
  z-index: 101;
}

.app-container .nav-container {
  height: 100%;
  width: 22vw;
  background-color: #f7a5b0;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.app-container .nav-container .nav .nav-link {
  border-left: 4px solid transparent;
}

.app-container .nav-container .nav .nav-link.activeTab {
  border-left: 4px solid #f3f3f3;
}

.app-container .nav-container .logo-con div {
  color: #6bb3dd !important;
}

.padding {
  margin-right: 7px;
  color: #ffff67;
}

.card-con {
  width: 93%;
  height: 300px;
  background-color: white;
  margin: 0px;
  border-radius: 20px;
}

.text-con {
  padding-left: 20px;
}

.forcast-con {
  width: 78vw;
}

.weather-forcast {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .daily-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.slider .daily-slider .mini-card {
  height: 120px;
  width: 10%;
  border-radius: 15px;
  background-color: #f0f0f0;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid black;
  color: #222222;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  bottom: 0;
}

.slider .daily-slider .mini-card:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
  bottom: 10px;
}

.citys {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  border-radius: 10px;
  height: 50px;
  border: 2px solid gray;
}

.icon .icon-pic {
  height: 35px;
  border-radius: 50%;
  width: 35px;
  background-color: gray;
}

.icon .icon-pic img {
  height: 35px;
  border-radius: 50%;
}

.icon .name {
  color: gray;
}

.icon .dropdown {
  cursor: pointer;
}

.activeCity {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
  color: #4fa1ca;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.details {
  width: 95%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.details h5 {
  cursor: pointer;
}

.details h5 a {
  color: #4fa1ca;
  text-decoration: none;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttonContainer svg {
  color: #6bb3dd;
  font-size: 3rem;
  cursor: pointer;
  margin: 10px;
}

@media only screen and (max-width: 900px) {
  .weather-forcast {
    display: none;
  }
  .nav-container {
    width: 95vw !important;
    height: 95vh !important;
    border-radius: 25px;
    position: absolute;
    z-index: 100;
  }
  .nav-container .card-con {
    display: none;
  }
  .nav-container .navCities {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .nav-container .navCities div {
    margin-top: 20px;
    width: 90% !important;
  }
  .daily-card-con {
    width: 95vw;
  }
  .details {
    width: 93vw;
  }
  .slider {
    width: 95vw;
    height: 30%;
  }
  .icon {
    display: none;
  }
  #dailyCard div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (min-width: 900px) {
  .daily-card-con {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */